{{> header}}
{{> navigation}}
<div class="content">
    <div class="chirper">

        <h2 class="titlebar">{{username}}</h2>

        {{> viewFeedForm}}

        <div id="userStats" class="user-details">
            <span>{{chirps}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
        </div>
    </div>
    <div id="chirps" class="chirps">
        <h2 class="titlebar">Chirps</h2>
        {{#each articles}}
            {{> viewFeedArticle}}
            {{else}}
            <div>No cgiros in database</div>
        {{/each}}
    </div>
</div>
{{> footer}}