{{> header}}
{{> navigation}}
<div class="content">
    <div class="chirper">

        <h2 class="titlebar">{{username}}</h2>

        {{> viewMeForm}}

        <div id="userStats" class="user-details">
            <span>{{chirps}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
        </div>
    </div>
    <div id="myChirps" class="chirps">
        <h2 class="titlebar">Chirps</h2>
        {{#each allChirps}}
            {{> viewMeArticle}}
            {{else}}
            <div class="chirp"><span class="loading">No chirps in database</span></div>
        {{/each}}
        
    </div>
</div>
{{> footer}}